body {
    background-color: rgba(172, 167, 95, 0.897);
    text-align: center;
}

p {
    color: rgb(108, 114, 30);
}

.twikihoh {
    font-style: italic;
}

.img1 {
    width: 50%;
}

